*~
unpub

# a really specific file not needed for versioning
data/tgp-nygc-autosomes_ld_prune_1000kb_0.3_maf-0.01/pops-annot.txt

# we should never commit data here, so let's forbid the bed/bim/fam/phen extensions
*.bed
*.bim
*.fam
*.phen

# derived kinship matrices
*.grm.bin
*.grm.N.bin
*.grm.id

# other intermediate data
betas.txt.gz
pvals.txt.gz
eval.txt.gz
pvals_cor_report.txt
simtrait.RData


## list trimmed from https://github.com/github/gitignore/blob/master/TeX.gitignore

## Core latex/pdflatex auxiliary files:
*.aux
*.log
#*.fls
*.out
*.toc
#*.fmt
#*.fot
#*.cb
#*.cb2
#.*.lb
*.synctex.gz

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
#*.bcf
*.blg
#*-blx.aux
*-blx.bib
*.run.xml

# beamer
*.nav
#*.pre
*.snm
#*.vrb
